.recipe-container {
  display: grid;
  background-color: #ffebb0;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 6vw;
  margin-left: 4vw;
  margin-right: 4vw;
  padding-top: 3vw;
  padding-bottom: 5vw;
}

.empty-error {
  font-family: 'Gloria Hallelujah';
  text-align: right;
  width: 100vh;
  color: #ad1d07;
  font-size: 2em;
}

@media (min-width: 900px) and (max-width: 1125px) {
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .recipe-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4vw;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .recipe-container {
    display: grid;
    grid-template-columns: none;
    grid-gap: 12vw;
  }
}

