.main {
  display: flex;
}

button {
  width: 21vw;
  height: 7vh;
  margin-top: 5vh;
  cursor: pointer;
  border-radius: 0.7em;
  font-family: 'Gloria Hallelujah';
  font-size: 1.5em;
}

.single-recipe {
  background-color: #868e96;
  border: solid 30px #a13d2d;
  color: white;
  min-height: 75vh;
  margin: 10vh;
  margin-top: 5vh;
  padding-top: 0;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
}

h1 {
  font-size: 4em;
}

p {
  font-family: 'Gloria Hallelujah';
}

.recipe-details {
  font-size: 2em;
}

.recipe-instructions {
  display: flex;
  font-size: 1.5em;
  font-family: 'Gloria Hallelujah';
}

.ingredients {
  width: 20%;
}

.instructions {
  width: 80%;
  margin-left: 2vw;
}

ul {
  list-style-type: none;
  padding: 0;
}

.step {
  text-align: left;
}

li:first-child {
  padding-top: 2vh;
}

ul, ol, li {
  font-family: 'Gloria Hallelujah';
}

@media (min-width: 500px) and (max-width: 1000px) {
  button {
    margin-bottom: 5vh;
  }
}

@media (min-width: 280px) and (max-width: 499px) {
  button {
    width: 40vw;
    height: 10vh;
    margin-bottom: 5vh;
  }

  .single-recipe {
    margin-left: 10vw;
  }
}