input {
  font-family: 'Open Sans';
  width: 28vw;
  height: 7vh;
  font-size: 1.25em;
  margin-top: 4vh;
  border-radius: 0.7em;
  font-style: bold;
  border-width: medium;
  border-style: solid;
}

@media (min-width: 600px) and (max-width: 900px) {
  input {
    width: 40vw;
  }
}

@media (min-width: 280px) and (max-width: 599px) {
  input {
    width: 80vw;
    margin-bottom: 5vh;
  }
}